* { margin: 0; padding: 0; }

body {
  background: linear-gradient(#E5E3DC, #ECEBE5) repeat scroll 0% 0% transparent;
  font-family: "Open Sans","Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}