body {
  background: white;
  font-family: "Open Sans","Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #50555B;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse:collapse;
  color: black;
  width: 80%;
}

th {
  font-size: 20px;
}

td {
  text-align: center;
  height:50px;
  padding: 0.5% 2%;
  width:50%;
}

